<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="search-container" (ngSubmit)="onSubmit()" #poiForm="ngForm">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input required [(ngModel)]="location.name" name="name" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección</ion-label>
      <ion-input [(ngModel)]="location.address" name="address" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Localidad</ion-label>
      <ion-input [(ngModel)]="location.locality" name="locality" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Región</ion-label>
      <ion-input [(ngModel)]="location.region" name="region" ngDefaultControl></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">País</ion-label>
      <ion-input [(ngModel)]="location.country" name="country" ngDefaultControl></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Imagen (URL o Captura)</ion-label>
      <ion-input
        [(ngModel)]="location.image"
        name="image"
        [disabled]="imageSource === 'camera'"
        (ionChange)="onImageUrlChange()"
        ngDefaultControl
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="onUploadPhoto()" [disabled]="imageSource === 'url'">Subir foto</ion-button>
    </ion-item>
    <ion-item *ngIf="location.image">
      <ion-button expand="block" fill="clear" color="danger" (click)="clearImage()" *ngIf="location.image">Eliminar imagen</ion-button>
    </ion-item>
    <ion-item *ngIf="location.image">
      <img (load)="onImageLoad()" (error)="onImageError()"class="preview-image" [src]="location.image" style="max-width: 100%; height: auto;" />
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="loading ||
    !location.name ||
    !location.address ||
    !location.locality ||
    !location.region ||
    !location.country ||
    !imageValid">
      {{ loading ? 'Guardando...' : 'Guardar POI' }}
    </ion-button>
  </form>
</ion-content>
