<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let location of locations">
        <ion-card>
          <img [src]="location.image ? location.image : 'assets/default.jpg'" alt="{{ location.name }}" />
          <ion-card-header>
            <ion-card-title>{{ location.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Dirección:</strong> {{ location.address }}</p>
            <p><strong>Localidad:</strong> {{ location.locality }}</p>
            <p><strong>País:</strong> {{ location.country }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
