<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>location-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading; else loadingTpl" fullscreen>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Detalles de la ubicación</ion-card-title>
        @if(logged){
          <ion-button (click)="toggleEditing()">
            {{ editing ? 'Cancelar' : 'Editar' }}
          </ion-button>
          <ion-button *ngIf="editing" (click)="saveLocation()" [disabled]="!isValid()">
            Guardar
          </ion-button>
          <ion-button color="danger" (click)="deleteLocation()">
            Eliminar
          </ion-button>
        }
      </ion-card-header>

    <ion-card-content>
      <div class="image-wrapper">
        <img [src]="location.image || 'assets/LocationDefault.png'" class="location-image"><img>
      </div>
      <ion-item>
        <ion-label position="stacked">Nombre *</ion-label>
        <ion-input [readonly]="!editing" [(ngModel)]="location.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input [readonly]="!editing" [(ngModel)]="location.address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Localidad *</ion-label>
        <ion-input [readonly]="!editing" [(ngModel)]="location.locality" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Región *</ion-label>
        <ion-input [readonly]="!editing" [(ngModel)]="location.region" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">País *</ion-label>
        <ion-input [readonly]="!editing" [(ngModel)]="location.country" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Coordenadas (lng, lat) *</ion-label>
        <ion-input
          [readonly]="!editing"
          [(ngModel)]="location.locationCoords.coordinates[0]"
          type="number"
          placeholder="Longitud"
          required
        ></ion-input>
        <ion-input
          [readonly]="!editing"
          [(ngModel)]="location.locationCoords.coordinates[1]"
          type="number"
          placeholder="Latitud"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Coordenadas propias (lng, lat) *</ion-label>
        <ion-input
          [readonly]="!editing"
          [(ngModel)]="location.ownCoords.coordinates[0]"
          type="number"
          placeholder="Longitud"
          required
        ></ion-input>
        <ion-input
          [readonly]="!editing"
          [(ngModel)]="location.ownCoords.coordinates[1]"
          type="number"
          placeholder="Latitud"
          required
        ></ion-input>
      </ion-item>

      @if(editing){
        <ion-item>
          <ion-label position="stacked">Imagen URL *</ion-label>
          <ion-input [readonly]="!editing" [(ngModel)]="location.image" required type="url"></ion-input>
        </ion-item>
      }
    </ion-card-content>
  </ion-card>
    <ion-card class="review-card">
      <ion-card-header>
        <ion-row class="review-header">
          <ion-title>¡Agrega un nuevo comentario al POI!</ion-title>
        </ion-row>
        <ion-row class="review-header">
          <ion-col>
            @if(!logged){
              <ion-input
                placeholder="Nombre del autor"
                [(ngModel)]="review.author"
                class="review-author-input" ngDefaultControl>
              </ion-input>
            }
            @else {
              <ion-input
                placeholder="Nombre del autor"
                [(ngModel)]="reviewLog.author"
                class="review-author-input" ngDefaultControl>
              </ion-input>
            }
          </ion-col>
          <ion-col size="auto" class="review-rating">
            @if(!logged){
              <ion-button
                fill="clear"
                *ngFor="let star of [1, 2, 3, 4, 5]"
                (click)="review.rating = star">
                <ion-icon
                  [name]="star <= review.rating ? 'star' : 'star-outline'">
                </ion-icon>
              </ion-button>
            }
            @else{
              <ion-button
                fill="clear"
                *ngFor="let star of [1, 2, 3, 4, 5]"
                (click)="reviewLog.rating = star">
                <ion-icon
                  [name]="star <= reviewLog.rating ? 'star' : 'star-outline'">
                </ion-icon>
              </ion-button>
            }
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        @if(!logged){
          <ion-textarea
            placeholder="Escribe tu comentario"
            [(ngModel)]="review.reviewText"
            class="review-text-input" ngDefaultControl>
          </ion-textarea>
        }
        @else{
          <ion-textarea
            placeholder="Escribe tu comentario"
            [(ngModel)]="reviewLog.reviewText"
            class="review-text-input" ngDefaultControl>
          </ion-textarea>
        }
        <ion-button class="centered-button" (click)="submitReview()">Comentar</ion-button>
      </ion-card-content>
    </ion-card>
  <ion-list *ngIf="location?.reviews?.length">
    <ion-list-header>
      <ion-title><strong>Comentarios</strong></ion-title>
    </ion-list-header>
    @for(review of location.reviews; track review._id) {
      <ion-card class="review-card">
        <ion-card-header>
          <ion-row class="review-header">
            <ion-col>
              <h2 class="review-author">{{ review.author }}</h2>
              <p class="review-date">{{ review.createdOn | date:'longDate' }}</p>
            </ion-col>
            <ion-col size="auto" class="review-rating">
              <ion-icon name="star" *ngFor="let star of [].constructor(review.rating)"></ion-icon>
            </ion-col>
            @if(logged){
              <ion-col size="auto" class="review-trash">
                <ion-button fill="clear" (click)="deleteReview(review._id)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            }
          </ion-row>
        </ion-card-header>

        <ion-card-content>
          <p class="review-text">{{ review.reviewText }}</p>
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
  <h1 class="centered-template" *ngIf="location && !location.reviews?.length"><strong>No hay comentarios disponibles</strong></h1>
</ion-content>

<ng-template #loadingTpl>
  <ion-spinner name="crescent"></ion-spinner>
  <p class="centered-template"> Cargando...</p>
</ng-template>

<ng-template #errorTpl class="centered-template">
  <p color="danger">{{ errorMessage || 'Ubicación no encontrada.' }}</p>
</ng-template>
