<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <form class="transparent-form" [formGroup]="registrationForm" (ngSubmit)="register()">
      <h3><strong>Regístrate</strong></h3>
      <ion-item class="transparent-form" >
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" class="transparent-form" ngDefaultControl></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
        Ingresa un correo válido.
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input class="password" type="password" formControlName="password" ngDefaultControl></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
        La contraseña debe tener al menos 6 caracteres.
      </ion-text>
      <ion-button class="button2" expand="full" type="submit" [disabled]="registrationForm.invalid">Registro</ion-button>
    </form>
  </div>
</ion-content>
